.pingu {
  background: url("http://i.imgur.com/MZv2u42.jpg");
  background-size: 50px 50px;
  height: 500px;
  width: 500px;
  background-size: 100px 200px;
  -webkit-animation: nootnoot 5s infinite linear; }


@-webkit-keyframes nootnoot {
  0% {
    background-size: 500px ; }
  50% {
   background-size: 1500px;
  background-position: -400px -202px; }

  100% {
    background-size: 500px ; } }
