body {
    	overflow: hidden;
}

img {
	height: 100px;
	position: absolute;
	top: 200px;
    left: 2028px; 
}

.animate {
	-webkit-animation: lizard 2s  linear; 
}

@-webkit-keyframes lizard {
  	0% {
    	left: -500px;
    	top: 200px;
  	100% {
    	top: 200px;
    	left: 2028px; 
	} 
}
